.intro {
    min-height : 969px;
    background : url('/img/image/intro_bg.png')no-repeat 0/cover;
    padding-top: 139px;


    & .tab-form {
        padding-top: 135px;

        & .nav>li {
            &.active {
                & a {
                    background : #FFFFFF;
                    border     : none;
                    color      : #0078D4;
                    font-weight: 700;

                    &>span {
                        border-bottom: 2px solid #FFB900;
                    }
                }
            }

            &>a {
                border-radius: 0;
                background   : #004578;
                border       : none;
                color        : #C7E0F4;

                font-family   : "Segoe UI";
                font-weight   : normal;
                font-size     : 16px;
                letter-spacing: -0.01em;
                margin-bottom : 0;
                font-weight   : 700;

                &:hover {
                    border: none;

                    &>span {
                        border-bottom: 2px solid #FFB900;

                    }
                }
            }
        }

        & .tab-content {
            background: #FFFFFF;
            padding   : 25px 25px 10px 25px;

            & select.form-control {
                height          : 46px;
                border-radius   : 0;
                background-color: #F8F8F8;
                border          : 1px solid #EAEAEA;
                box-shadow      : inset 0 3px 6px rgba($color: #000000, $alpha: .25);
                appearance      : none;
                color           : #0078D4;
                padding-right   : 28px;
                background      : url('/img/image/icon_arrow-down.svg')no-repeat calc(100% - 15px) 50%/15px;
                font-family     : "Segoe UI";
                font-weight     : normal;
                font-size       : 16px;
                letter-spacing  : -0.02em;

                &.place {
                    font-family   : "Segoe UI";
                    font-weight   : normal;
                    font-size     : 16px;
                    letter-spacing: -0.02em;
                    color         : #666;

                    padding-left: 32px;
                    background  : url('/img/image/icon_place-blue.svg')no-repeat 12px 50% /11px, url('/img/image/icon_arrow-down.svg')no-repeat calc(100% - 15px) 50%/15px;
                }

                &.job {
                    font-family   : "Segoe UI";
                    font-weight   : normal;
                    font-size     : 16px;
                    letter-spacing: -0.02em;
                    color         : #666;

                    padding-left: 32px;
                    background  : url('/img/image/icon_case-job.svg')no-repeat 10px 50% /15px, url('/img/image/icon_arrow-down.svg')no-repeat calc(100% - 15px) 50%/15px;

                }


            }

            & .links {
                & .btn-link {
                    padding        : 0 0 4px 0;
                    color          : #0078D4;
                    line-height    : 42px;
                    border-bottom  : 1px solid transparent;
                    text-decoration: none;
                    font-size      : 16px;

                    &:hover {
                        border-bottom: 1px solid #C7E0F4;

                    }

                    &:first-child {
                        padding-left: 0;
                    }


                }
            }

            & .btn {
                padding       : 12px 43px 12px 75px;
                border-radius : 0;
                font-family   : "Segoe UI";
                font-weight   : normal;
                font-size     : 12px;
                letter-spacing: -0.02em;
                text-align    : left;
                color         : #f8f8f8;
                background    : #0778D4 url('/img/image/icon_search-white.svg')no-repeat 45px 50% /18px;
                border        : none;

                &:focus {
                    outline   : none;
                    box-shadow: none;
                }
            }
        }

    }

    .map {
        padding-right: 136px;
    }


    .statistic {
        padding-top   : 33px;
        padding-bottom: 132px;

        & .item {
            padding: 22px 58px 22px 37px;

            & .icon {
                display       : table-cell;
                vertical-align: middle;
                padding-right : 15px;
                width         : 60px;
                height        : 55px;

                & img {
                    width: 100%;
                }

            }

            & .info {
                display       : table-cell;
                vertical-align: middle;
                font-family   : "Segoe UI";
                font-weight   : normal;
                font-size     : 16px;
                letter-spacing: -0.01em;
                text-align    : center;
                color         : #f8f8f8;


                & .number {
                    font-size  : 37px;
                    font-weight: 600;
                }
            }
        }

        &__logo {
            display: none;
            width  : 220px;


            & .icon {
                width     : 70px;
                display   : table-cell;
                object-fit: cover;
                float     : left;

                & img {
                    width  : 100%;
                    display: block;
                }
            }

            & .name {
                display          : table-cell;
                height           : 82px;
                vertical-align   : middle;
                padding-left     : 10px;;

                font-weight   : bold;
                font-size     : 16px;
                letter-spacing: -0.01em;
                line-height   : 18px;
                color         : #f8f8f8;
                text-transform: uppercase;
                padding-left  : 20px;
                position      : relative;
                width         : 150px;


                &::before {
                    content   : '';
                    display   : block;
                    width     : 2px;
                    height    : 64px;
                    position  : absolute;
                    background: url('/img/image/logo_flag.png')no-repeat 0 /cover;
                    top       : 50%;
                    left      : 10px;
                    transform : translateY(-50%);
                }
            }
        }

        & .swipe__btn {
            margin-top: 65px;
            display   : none;
            background: transparent;
            border    : 0;
            outline   : none;

            & .icon {
                background   : #FFB900;
                width        : 36px;
                height       : 36px;
                margin       : 0 auto;
                border-radius: 50%;
                position     : relative;

                margin-bottom: 10px;

                & svg {
                    position : absolute;
                    top      : 50%;
                    left     : 50%;
                    transform: translate(-50%, -50%);
                }
            }

            & .text {
                font-size  : 16px;
                font-weight: 600;
                color      : white;
            }

        }
    }
}

.map {
    padding-top: 70px;

    & svg {
        & text {
            pointer-events: all;
        }

        & g.grouped {
            cursor: pointer;

            & path {
                transition: all 0.3s linear;
                fill      : transparent;
            }

            & text {
                transition: all 0.3s linear;
            }

            &:hover {
                & path {
                    fill: #FFB900;
                }

                & text {
                    font-weight: bold;
                }

                & ellipse {
                    fill  : rgba($color: #E81123, $alpha: .20);
                    stroke: #E81123;
                }

                & circle {
                    fill  : rgba($color: #E81123, $alpha: .20);
                    stroke: #E81123;
                }

            }
        }
    }

    &_popup {
        padding   : 15px;
        background: white;
        position  : absolute;
        top       : 0;
        right     : 0;
        width     : 180px;
        z-index   : -1;
        opacity   : 0;
        transition: all 0.3s ease-in;

        &.show {
            z-index: 100;
            opacity: 1;
        }

        & .title {
            font-size     : 14px;
            letter-spacing: -0.01em;
            line-height   : 21px;
            color         : #3c3c3c;
            width         : 50%;
            margin-bottom : 5px;

            & b {
                color      : #0078D4;
                font-weight: 600;
                font-size  : 16px;
            }
        }

        & .popup-table {
            font-size     : 14px;
            letter-spacing: -0.01em;
            line-height   : 21px;
            color         : #666;
            width         : 100%;

            & td:nth-child(2) {
                text-align    : right;
                font-weight   : 600;
                font-size     : 14px;
                letter-spacing: -0.01em;
                line-height   : 21px;
                color         : #0078d4;
            }
        }

        &::before {
            content   : '';
            display   : block;
            width     : 26px;
            height    : 26px;
            background: white;
            position  : absolute;
            left      : 50%;
            transform : translateX(-50%) rotate(-45deg);
            bottom    : -13px;
        }
    }
}

.main_nav {
    & .nav {
        display      : table;
        text-align   : center;
        margin       : 0 auto;
        transform    : translateY(0);

        & .nav-item {

            display: table-cell;
            padding: 0 35px;

            &:last-child {
                padding-right: 0;
            }
        }

        & .nav-link {
            transition     : all 0.3s linear;
            font-family    : "Segoe UI";
            font-weight    : bold;
            font-size      : 16px;
            letter-spacing : -0.02em;
            text-transform : uppercase;
            color          : #f8f8f8;
            padding-bottom : 5px;
            border-bottom  : 2px solid transparent;
            text-decoration: none;
            border-radius  : 0;
            padding        : 0;



            &:hover {
                background   : none;
                border-bottom: 2px solid #FFB900;

            }


        }

        &.inner {
            position: absolute;
            top     : 0;
            left    : 0;
            z-index : -5;
        }
    }

    & .js_close_main-nav {
        display   : none;
        background: none;
        border    : 0;
        box-shadow: none;
        position  : absolute;
        top       : 21px;
        right     : 21px;

    }

    .login-link {
        padding       : 0.8vw 1.45vw;
        background    : none;
        font-weight   : normal;
        font-size     : 16px;
        letter-spacing: -0.02em;
        color         : #f8f8f8;
        display       : none;
        position      : absolute;
        top           : 21px;
        right         : 95px;
    }
}
