.resume {


    &__make {
        padding-top   : 39px;
        padding-bottom: 80px;

        & .title {
            font-weight   : 700;
            font-size     : 32px;
            letter-spacing: -0.02em;
            line-height   : 42px;
            color         : #333;
            margin-bottom : 30px;
        }

        & .subtitle {
            font-weight   : 700;
            font-size     : 24px;
            letter-spacing: -0.02em;
            line-height   : 42px;
            color         : #333;
            padding-top   : 20px;
            padding-bottom: 30px;
        }

        & .btn {
            margin-right : 20px;
            margin-bottom: 20px;
        }

        & .btn-lg {
            padding       : 17px 49px;
            font-size     : 18px;
            letter-spacing: -0.02em;
            color         : #f8f8f8;
            margin-top    : 30px;
        }

        & .btn-primary {
            background-color: #0778D4;
            border-color    : #0778D4;
        }

        & .form-fields {
            & .form-group {
                margin-bottom: 30px;
            }

            & .control-label {
                text-align    : left;
                padding-top   : 12px;
                font-weight   : 600;
                font-size     : 18px;
                letter-spacing: -0.01em;
                line-height   : 22px;
                color         : #3c3c3c;
            }

            & select.form-control {
                font-family   : "Segoe UI";
                font-size     : 18px;
                letter-spacing: -0.01em;
                color         : #212121;
                background    : #fff url('/img/image/icon_arrow-down.svg')no-repeat calc(100% - 20px) 50% /24px 24px;
            }

            & .form-control {
                height       : 50px;
                border       : 1px solid #D0D0D0;
                border-radius: 0;
                box-shadow   : inset 0 3px 6px rgba($color: #000000, $alpha: .16);
                padding-right: 25px;
                padding-right: 45px;
                appearance   : none;

                &.checked {
                    background: white url(/img/image/icon_check-gren.svg) no-repeat calc(100% - 15px) 50%/24px;
                }

                &::placeholder {
                    font-size     : 18px;
                    letter-spacing: -0.01em;
                    color         : #666;
                }
            }

            & .radio {
                margin-bottom: 20px;

                & label {
                    font-size     : 18px;
                    letter-spacing: -0.02em;
                    color         : #767676;
                }
            }


        }
    }
}
