.resume-info {
    & .block {
        padding      : 39px 0;
        border-bottom: 1px solid #EAEAEA;

        &:last-child {
            padding-bottom: 83px;
        }

        & .title {
            font-weight   : bold;
            font-size     : 32px;
            letter-spacing: -0.02em;
            line-height   : 32px;
            color         : #333;
            margin        : 10px 0 40px 0;
        }

        & .simple-card {
            padding: 37px 48px 30px 30px;

            & .__title {
                font-weight   : bold;
                font-size     : 28px;
                letter-spacing: -0.01em;
                color         : #0078d4;
                padding-right : 180px;
                margin-bottom : 20px;
            }

            & .__desc {
                font-size     : 18px;
                letter-spacing: -0.01em;
                line-height   : 23px;
                color         : #3c3c3c;
                padding-right : 210px;
                margin-bottom : 30px;
            }

            & .interest {
                font-size  : 60px;
                font-weight: 700;
                color      : #3c3c3c;
                position   : absolute;
                top        : 50%;
                right      : 48px;
                transform  : translateY(-50%);

                & b {
                    color: #0078D4;
                }
            }
        }

        & .date_view {
            height        : 42px;
            vertical-align: middle;
            display       : table;
            margin-bottom : 30px;

            &::after {
                content: '';
                display: block;
                clear  : both;
            }
        }

        & .date {
            display       : table-cell;
            vertical-align: middle;
            margin-right  : 20px;
            padding-left  : 20px;
            background    : url('/img/image/icon_calendar.svg')no-repeat 0 50%/14px;
            padding-right : 20px;
        }

        & .desc {
            letter-spacing: -0.01em;
            line-height   : 22px;
            color         : #333;
            margin-bottom : 17px;
            max-width     : 77%;
            width         : 100%;
        }

        & .view-count {
            display       : table-cell;
            vertical-align: middle;
            padding-right : 20px;
            padding-left  : 20px;
            background    : url('/img/image/icon_view.svg')no-repeat 0 50%/14px;
        }

        & .job-title {
            font-weight   : 600;
            font-size     : 24px;
            letter-spacing: -0.02em;
            line-height   : 42px;
            color         : #0078d4;
            margin-bottom : 18px;

        }

        & .outline-card {
            text-align      : center;
            border          : 1px solid #0078D4;
            background-color: #fff;
            padding         : 20px 54px 28px 54px;
            position        : relative;
            margin-bottom   : 30px;

            & .__title {
                font-family   : "Segoe UI";
                font-weight   : 600;
                font-size     : 18px;
                letter-spacing: -0.02em;
                line-height   : 22px;
                color         : #333;
                display       : inline-block;
                padding       : 0 24px;
                margin-bottom : 5px;

                &.increase {
                    background-image   : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 31.422 31.422'%3E%3Cpath id='Fabric_Icons' data-name='Fabric Icons' d='M4-32H32V-4H28V-25.172L3.422-.578.578-3.422,25.172-28H4Z' transform='translate(-0.578 32)' fill='%23107c10'/%3E%3C/svg%3E%0A");
                    background-repeat  : no-repeat;
                    background-position: 100% 50%;
                }

                &.decrease {
                    background-image   : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 31.422 31.422'%3E%3Cpath id='Fabric_Icons' data-name='Fabric Icons' d='M4,1H32V-27H28V-5.828L3.422-30.422.578-27.578,25.172-3H4Z' transform='translate(-0.578 30.422)' fill='%23e81123'/%3E%3C/svg%3E%0A");
                    background-repeat  : no-repeat;
                    background-position: 100% 50%;
                }

                & b {
                    font-size     : 40px;
                    letter-spacing: -0.01em;
                    color         : #0078d4;
                    height        : 52px;
                    display       : table-cell;
                    vertical-align: middle;
                    padding-right : 8px;
                }

                & span {
                    display       : table-cell;
                    vertical-align: middle;

                }
            }

            & .__desc {
                font-size     : 16px;
                letter-spacing: -0.02em;
                line-height   : 22px;
                color         : #333;
            }

            & .link {
                position: absolute;
                right   : 15px;
                bottom  : 15px;
            }

            & .info {
                position: absolute;
                top     : 15px;
                right   : 16px;
            }
        }

        & .block-text {
            margin-bottom: 20px;
        }

        & .btn {
            transition   : all 0.3s linear;
            margin-right : 30px;
            margin-bottom: 30px;
        }

        & .btn-warning {
            padding-left       : 47px;
            background-image   : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='16' viewBox='0 0 26 32'%3E%3Cpath id='Fabric_Icons' data-name='Fabric Icons' d='M26-6h4v2H26V0H24V-4H20V-6h4v-4h2ZM6-30V-6H18v2H4V-32H17.422L26-23.422V-12H24V-22H16v-8Zm12,1.422V-24h4.578Z' transform='translate(-4 32)' fill='%233c3c3c'/%3E%3C/svg%3E%0A") !important;
            background-repeat  : no-repeat !important;
            background-position: 26px 52% !important;
            color              : #333333;
        }

        & .btn-primary {
            background: #0778D4;
            padding   : 10px 37px;

            &:hover {
                background: darken($color: #0778D4, $amount: 10);
            }
        }

        & .nav {
            margin-top: 30px;

            & li {
                margin-right: 40px;

                & a {
                    padding       : 0;
                    font-size     : 18px;
                    letter-spacing: -0.01em;
                    color         : #0078d4;
                    line-height   : 24px;

                    &:hover {
                        background: none;
                        color     : darken($color: #0078d4, $amount: 10);

                        & svg path {
                            fill: darken($color: #0078d4, $amount: 10);
                        }
                    }

                    & svg {
                        vertical-align: middle;
                        margin-top    : -3px;
                        margin-right  : 7px;
                        transition    : all 0.3s linear;
                    }
                }
            }
        }
    }

}
