.vacancies {
    &__section {
        background    : #DEECF9;
        padding-bottom: 50px;
    }

    &__tab {
        box-shadow: 0 3px 99px rgba($color: #000000, $alpha: 0.1);
        position  : relative;
        top       : -68px;

        & .nav-tabs {
            & .nav-item {
                &.active {
                    & .nav-link {
                        border    : 0;
                        background: #FFFFFF;
                        color     : #0078D4;

                        & span {
                            border-color: #FFB900;
                        }
                    }
                }
            }

            & .nav-link {
                border-radius : 0;
                background    : #024578;
                border        : 0 !important;
                padding-top   : 23px;
                padding-bottom: 23px;
                color         : #C7E0F4;
                margin-bottom : 0;
                font-weight   : bold;
                letter-spacing: -0.01em;

                & span {
                    padding-bottom: 3px;
                    border-bottom : 2px solid transparent;
                    transition    : border-color 0.3s linear;
                }



                &:hover {
                    & span {
                        border-bottom: 2px solid #FFB900;
                    }
                }
            }
        }

        & .tab-content {
            padding   : 40px;
            background: white;

            & .row-no-gutters {
                width: calc(100% + 32px);
            }

            & .card {
                padding        : 20px 10px 25px 10px;
                text-align     : center;
                display        : block;
                text-decoration: none;
                margin-bottom  : 32px;
                transition     : all 0.3s linear;
                margin-right   : 32px;
                position       : relative;

                &:hover {
                    box-shadow: 0 3px 50px rgba($color: #000000, $alpha: 0.2);

                    & .name {
                        color: #F8F8F8;
                    }
                }

                & .info {
                    width        : 17px;
                    height       : 17px;
                    border-radius: 50%;
                    display      : block;
                    position     : absolute;
                    top          : 12px;
                    right        : 12px;
                    background   : url('/img/image/icon_info.svg')no-repeat 0 /cover;

                }

                & .icon {
                    height       : 60px;
                    overflow     : hidden;
                    margin-bottom: 15px;
                }

                & .name {
                    font-weight   : 600;
                    font-size     : 18px;
                    letter-spacing: -0.01em;
                    line-height   : 25px;
                    text-align    : center;
                    color         : #F8F8F8;
                    height        : 49px;
                    overflow      : hidden;

                }
            }
        }
    }

    &__benefits {
        padding-left : 40px;
        padding-right: 40px;
        margin-bottom: 60px;

        & .benefit__item {
            padding: 45px 32px 45px 32px;

        }

        & .icon {
            float       : left;
            margin-right: 23px;
        }

        & .content {
            display: table-cell;
            height : 90px;

            & .title {
                font-family   : "Segoe UI";
                font-weight   : bold;
                font-size     : 16px;
                letter-spacing: -0.02em;
                line-height   : 21px;
                color         : #333;
                text-transform: uppercase;
                margin-bottom : 5px;
                padding-right : 15px;
                height        : 42px;
                overflow      : hidden;
            }

            & .link {
                font-family   : "Segoe UI";
                font-weight   : 600;
                font-size     : 16px;
                letter-spacing: -0.01em;
                line-height   : 21px;
                color         : #666;
                padding-right : 40px;
                display       : inline-block;

                & .link__arrow {
                    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='16' viewBox='0 0 32 33'%3E%3Ctext id='Fabric_Icons' data-name='Fabric Icons' transform='translate(0 32)' fill='%232b88d8' font-size='32' font-family='FabricExternalMDL2Assets, Fabric External MDL2 Assets' letter-spacing='1em'%3E%3Ctspan x='0' y='0'%3E%3C/tspan%3E%3C/text%3E%3C/svg%3E");
                    width           : 16px;
                    height          : 16px;
                    display         : inline-block;
                }
            }

        }

    }

    &__latest {
        padding   : 40px;
        background: white;
        box-shadow: 0 3px 99px rgba($color: #000000, $alpha: 0.1);

        & .section__title {
            padding-top   : 20px;
            padding-bottom: 30px;
        }

        & .row-no-gutters {
            width: calc(100% + 32px);
        }

        .vacancy__info {
            background     : #F8F8F8;
            padding        : 20px 15px 17px 20px;
            margin-bottom  : 32px;
            margin-right   : 32px;
            position       : relative;
            display        : block;
            text-decoration: none;
            transition     : all 0.3s linear;

            &:hover {
                box-shadow: 0 3px 99px rgba($color: #000000, $alpha: 0.1);
            }

            & .name {
                font-weight   : 600;
                letter-spacing: -0.02em;
                color         : #0078d4;
                margin-bottom : 5px;
                padding-right : 45px;
                height        : 22px;
                overflow      : hidden;
            }

            & .salary {
                font-weight  : 400;
                font-size    : 16px;
                margin-bottom: 10px;
                line-height  : 1;
                color        : #333333;

                b {
                    font-weight   : 600;
                    font-size     : 24px;
                    letter-spacing: -0.01em;
                    line-height   : 1;

                    color: #333;
                }



            }

            & .organization {
                font-size     : 14px;
                letter-spacing: -0.01em;
                line-height   : 1;
                color         : #3c3c3c;
                margin-bottom : 7px;

                &.checked {
                    padding-right: 19px;
                    display      : inline-block;
                    background   : url('/img/image/icon_checked.svg')no-repeat 100% 0 / 14px;
                }


            }

            & .organization__logo {
                position           : absolute;
                width              : 40px;
                height             : 40px;
                border-radius      : 50%;
                top                : 12px;
                right              : 15px;
                background-color   : white;
                background-repeat  : no-repeat;
                background-position: 51% 50%;
                background-size    : 26px;
                border             : 1px solid #CAD1D8;
            }

            & .address {
                font-size     : 14px;
                letter-spacing: -0.01em;
                line-height   : 1;
                color         : #666;
                margin-bottom : 10px;
            }

            & .date_view {
                display: inline-block;

                &::after {
                    content: '';
                    display: block;
                    clear  : both;
                }
            }

            & .date {
                float       : left;
                margin-right: 20px;
                padding-left: 20px;
                background  : url('/img/image/icon_calendar.svg')no-repeat 0 50%/14px;
                font-size   : 14px;
                color       : #666666;
            }

            & .view-count {
                float        : right;
                padding-right: 20px;
                padding-left : 20px;
                background   : url('/img/image/icon_view.svg')no-repeat 0 50%/14px;
                font-size    : 14px;
                color        : #666666;
            }
        }

        & .more_link {
            font-weight   : 600;
            letter-spacing: -0.02em;
            color         : #333;
            position      : relative;
            padding-left  : 46px;
            display       : inline-block;

            &::before {
                content            : '';
                display            : block;
                width              : 36px;
                height             : 36px;
                border-radius      : 50%;
                background-color   : #0078D4;
                background-image   : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31.906' height='29.406' viewBox='0 0 31.906 29.406'%3E%3Cpath id='Fabric_Icons' data-name='Fabric Icons' d='M31.906-16,17.2-1.3,15.8-2.7,28.094-15H0v-2H28.094L15.8-29.3,17.2-30.7Z' transform='translate(0 30.703)' fill='%23eff6fc'/%3E%3C/svg%3E%0A");
                background-repeat  : no-repeat;
                background-position: 50% 50%;
                background-size    : 16px;
                position           : absolute;
                top                : 50%;
                transform          : translateY(-50%);
                left               : 0;
            }
        }
    }
}

.type-slider {
    padding-left : 40px;
    margin-bottom: 40px;

    & .type_item {
        display        : inline-block;
        border-radius  : 50px;
        letter-spacing : -0.01em;
        color          : #686E74;
        padding        : 8px 20px 10px 20px;
        text-decoration: none;
        transition     : all 0.3s linear;
        border         : 1px solid #0078D4;

        &.active {
            background: #0078D4;
            color     : #f8f8f8;

        }

        &:hover {
            background: #0078D4;
            color     : #f8f8f8;

        }

    }

    & .owl-nav {
        & button.owl-prev {
            position     : absolute;
            top          : 0;
            right        : 100%;
            width        : 45px;
            height       : 100%;
            margin       : 0;
            border-radius: 0;
            transition   : all 0.3s linear;
            background   : white;
            box-shadow   : -14px 0px 10px 12px rgba(255, 255, 255, 1);

            &:hover {
                background: white;
            }
        }

        & button.owl-next {
            position  : absolute;
            top       : 0;
            right     : 0;
            width     : 40px;
            height    : 45px;
            background: white;
            box-shadow: -14px 0px 10px 12px rgba(255, 255, 255, 1);

            margin       : 0;
            border-radius: 0;
            transition   : all 0.3s linear;

            &:hover {
                background: white;
            }
        }
    }
}
