.v-page {
    & .v-info {
        margin-top   : 40px;
        margin-bottom: 80px;
    }

    & .v-card {
        position     : relative;
        padding-right: 20px;

        &::after {
            content   : '';
            display   : block;
            width     : calc(100% - 32px);
            height    : 1px;
            background: #D0D0D0;
        }

        & .name {
            font-family   : "Segoe UI";
            font-weight   : 600;
            font-size     : 32px;
            letter-spacing: -0.02em;
            line-height   : 32px;
            text-align    : left;
            color         : #0078d4;
            height        : 64px;
            overflow      : hidden;
            display       : inline-block;
            max-width     : 598px;
            width         : 100%;
            margin-bottom : 20px;
        }

        & .salary {
            font-size     : 16px;
            letter-spacing: -0.01em;
            line-height   : 22px;
            color         : #212121;

            b {
                font-weight   : 600;
                font-size     : 24px;
                letter-spacing: -0.01em;
                line-height   : 22px;
                color         : #212121;
            }

            margin-bottom: 20px;


        }

        & .organization {
            font-size     : 18px;
            letter-spacing: -0.01em;
            line-height   : 1;
            color         : #333;
            margin-bottom : 18px;

            &.checked {
                padding-right: 19px;
                display      : inline-block;
                background   : url('/img/image/icon_checked.svg')no-repeat 100% 0 / 14px;
            }


        }

        & .organization__logo {
            position           : absolute;
            width              : 104px;
            height             : 104px;
            border-radius      : 50%;
            top                : 116px;
            transform          : translateY(-50%);
            right              : 20px;
            background-color   : white;
            background-repeat  : no-repeat;
            background-position: 51% 50%;
            background-size    : 70%;
            border             : 1px solid #CAD1D8;
        }

        & .address {
            font-size     : 16px;
            letter-spacing: -0.01em;
            line-height   : 1;
            color         : #3c3c3c;
            margin-bottom : 20px;
        }

        & .watcher {
            font-size     : 14pxpx;
            letter-spacing: -0.01em;
            line-height   : 22px;
            color         : #333;
            margin-bottom : 15px;

            & span {
                color: #0078D4;
            }
        }

        & .actions {
            & .btn {
                margin-bottom: 26px;
            }
        }

        & .request {
            font-size     : 16px;
            letter-spacing: -0.01em;
            line-height   : 22px;
            color         : #3c3c3c;
            margin-bottom : 20px;

            & .btn {
                padding   : 10px 32px 12px 32px;
                color     : #3c3c3c;
                background: #EAEAEA;
                transition: all 0.3s linear;

                &:hover {
                    background: darken($color: #EAEAEA, $amount: 10);
                }

                &:focus {
                    outline: none;
                    border : none;
                }

                &-rounded {
                    border-radius: 100px !important;
                }
            }
        }

        & .btn {
            transition  : all 0.3s linear;
            margin-right: 20px;
        }

        & .btn-primary {
            background  : #0778D4;
            border-color: #0778D4;

            &:hover {
                background: darken($color: #0778D4, $amount: 10);
            }
        }

        & .btn-favorite {
            padding: 7px 15px;
        }
    }

    & .v-desc {
        padding-top  : 30px;
        padding-right: 100px;

        & .__item {
            margin-bottom: 20px;

            & .title {
                font-weight   : bold;
                font-size     : 18px;
                letter-spacing: -0.01em;
                line-height   : 22px;
                color         : #333;
                margin-bottom : 15px;
            }

            & .content {
                font-size     : 16px;
                letter-spacing: -0.01em;
                line-height   : 22px;
                color         : #333;

                & ul {
                    list-style: none;
                    padding   : 0;

                    & li::before {
                        content: '- ';
                    }
                }
            }
        }


    }

    & .v-apply {

        & .date_view {
            display: inline-block;

            &::after {
                content: '';
                display: block;
                clear  : both;
            }
        }

        & .date {
            display       : table-cell;
            vertical-align: middle;
            margin-right  : 20px;
            padding-left  : 20px;
            background    : url('/img/image/icon_calendar.svg')no-repeat 0 50%/14px;
            padding-right : 20px;
            height        : 50px;
        }

        & .view-count {
            display       : table-cell;
            vertical-align: middle;
            padding-right : 20px;
            padding-left  : 20px;
            background    : url('/img/image/icon_view.svg')no-repeat 0 50%/14px;
            height        : 50px;
        }

        & .btn {
            float         : left;
            margin-right  : 32px;
            padding       : 14px 64px;
            font-size     : 14px;
            letter-spacing: -0.02em;
            color         : #0078d4;
        }
    }

    & .simple-card {
        max-width    : 696px;
        width        : 100%;
        padding      : 34px 32px 31px 40px;
        margin-bottom: 80px;

        & .title {
            font-weight   : bold;
            font-size     : 24px;
            letter-spacing: -0.01em;
            line-height   : 31px;
            color         : #333333;
            margin-bottom : 30px;
        }

        & .form-control {
            max-width: 344px;
            width    : 100%;
        }

        & .btn-link {
            color   : #0078D4;
            border  : none;
            padding : 0 10px;
            position: relative;

            &:hover {
                text-decoration: underline;
            }

            &::before {
                content   : '';
                display   : block;
                width     : 1px;
                height    : 20px;
                background: #71AFE5;
                position  : absolute;
                top       : 50%;
                right     : 0;
                transform : translateY(-50%);
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child::before {
                content: none;
            }
        }

        & .card-footer {
            font-size     : 12px;
            letter-spacing: -0.01em;
            line-height   : 17px;
            color         : #333;
            max-width     : 496px;
            width         : 100%;

            & a {
                color: #0078D4;
            }
        }
    }

    & .row-right-divider {
        &::before {
            content   : '';
            display   : block;
            width     : 1px;
            height    : calc(100% - 120px);
            top       : 40px;
            right     : 0;
            position  : absolute;
            background: #D0D0D0;
        }
    }

    & .flex-order {
        display       : flex;
        flex-direction: column;
    }

    & .similar_v {
        padding-left: 32px;

        & .title {
            font-weight   : bold;
            font-size     : 24px;
            letter-spacing: -0.02em;
            color         : #3c3c3c;
            margin-bottom : 30px;
        }

        & .vacancy__info {
            background        : #F8F8F8;
            padding           : 20px 15px 17px 20px;
            margin-bottom     : 20px;
            position          : relative;
            display           : block;
            text-decoration   : none;
            transition        : all 0.3s linear;

            &:hover {
                box-shadow: 0 3px 99px rgba($color: #000000, $alpha: 0.1);
            }

            & .name {
                font-weight   : 600;
                letter-spacing: -0.02em;
                color         : #0078d4;
                margin-bottom : 5px;
                padding-right : 45px;
                height        : 22px;
                overflow      : hidden;
            }

            & .salary {
                font-weight: 400;
                font-size  : 16px;
                color      : #333333;

                b {
                    font-weight      : 600;
                    font-size        : 24px;
                    letter-spacing   : -0.01em;
                    color            : #333;
                }

                margin-bottom: 10px;

            }

            & .organization {
                font-size     : 14px;
                letter-spacing: -0.01em;
                line-height   : 1;
                color         : #3c3c3c;
                margin-bottom : 7px;

                &.checked {
                    padding-right: 19px;
                    display      : inline-block;
                    background   : url('/img/image/icon_checked.svg')no-repeat 100% 0 / 14px;
                }


            }

            & .organization__logo {
                position           : absolute;
                width              : 40px;
                height             : 40px;
                border-radius      : 50%;
                top                : 12px;
                right              : 15px;
                background-color   : white;
                background-repeat  : no-repeat;
                background-position: 51% 50%;
                background-size    : 26px;
                border             : 1px solid #CAD1D8;
            }

            & .address {
                font-size     : 14px;
                letter-spacing: -0.01em;
                line-height   : 1;
                color         : #666;
                margin-bottom : 10px;
            }

            & .date_view {
                display: inline-block;

                &::after {
                    content: '';
                    display: block;
                    clear  : both;
                }
            }

            & .date {
                float       : left;
                margin-right: 20px;
                padding-left: 20px;
                background  : url('/img/image/icon_calendar.svg')no-repeat 0 50%/14px;
                color       : #767676;
            }

            & .view-count {
                float        : right;
                padding-right: 20px;
                padding-left : 20px;
                background   : url('/img/image/icon_view.svg')no-repeat 0 50%/14px;
                color        : #767676;
            }
        }

        & .more_link {
            font-size      : 16px;
            letter-spacing : -0.02em;
            color          : #3c3c3c;
            text-align     : center;
            text-decoration: none;
            border-bottom  : 1px dashed #0078D4;
            padding-bottom : 5px;

            & b {
                color         : #0078d4;
                font-weight   : 600;
                font-size     : 16px;
                letter-spacing: -0.02em;
                color         : #0078d4;
            }

        }

        padding-bottom: 80px;
    }


    & .card-links {
        padding-left : 32px;
        margin-top   : 40px;
        margin-bottom: 60px;

        &::after {
            content: '';
            display: table;
            clear  : both;
        }

        & .item {
            width        : calc(100%/2 - 16px);
            padding      : 15px;
            text-align   : center;
            float        : left;
            margin-bottom: 32px;
            margin-right : 32px;
            transition   : all 0.3s linear;

            &:hover {
                box-shadow: 0 3px 99px rgba($color: #000000, $alpha: 0.2);
            }

            &:nth-child(2n) {
                margin-right: 0;
            }

            & .icon {
                margin-bottom: 11px;
            }

            & .text {
                font-weight   : 600;
                font-size     : 12px;
                letter-spacing: -0.01em;
                line-height   : 15px;
                color         : #3c3c3c;
                padding       : 0 35px;
                display       : inline-block;
            }
        }
    }
}
