/* @media (min-width: 1921px) {
  .header__nav .nav-link {
    padding: 16px 28px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1246px;
  }
  .container.bigger {
    width: 1326px;
  }
}

@media (min-width: 991px) {
  .no-desktop {
    display: none !important;
  }
}

@media (max-width: 1346px) {
  .header__middle .mobile__button {
    right: 100%;
  }
  .header__middle .spec-view__button {
    left: 100%;
  }
  .header__middle .navbar .logo {
    float: none;
    margin: 0 auto;
  }
  .header__middle .navbar .nav {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .no-tab {
    display: none !important;
  }
  .no-desktop {
    display: none !important;
  }
  .header__nav {
    margin-top: 25px;
    text-align: center;
    float: none;
  }
  .header__nav .nav {
    height: auto;
    display: inline-block;
  }
  .v-page .row-right-divider::before {
    width: 100%;
    height: 1px;
    top: auto;
    bottom: -20px;
  }
  .page-blog .row-right-divider::before {
    width: 100%;
    height: 1px;
    top: auto;
    bottom: -20px;
  }
  .v-page .simple-card {
    max-width: 100%;
  }
  .v-page .card-links,
  .v-page .similar_v {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .header__middle .navbar .nav {
    display: block;
    float: none;
    text-align: left;
    height: 0;
    position: relative;
    opacity: 0;
    top: -100%;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .header__middle .navbar .nav.show {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    position: relative;
    height: 100%;
    opacity: 1;
    z-index: 1;
  }
  .header__middle .navbar .nav-item {
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
  }
  .header__middle .mobile__button {
    right: auto;
    left: 0;
  }
  .header__middle .spec-view__button {
    left: auto;
    right: 0;
  }
  .vacancies__tab .tab-content .owl-item {
    width: 176px !important;
  }
  .no-mobile {
    display: none !important;
  }
  .tips__title {
    margin-top: 95px;
    margin-bottom: 21px;
    padding-right: 100px;
  }
  .tips__subtitle {
    padding-right: 35%;
  }
  .tips-carousel .item {
    background: rgba(0, 69, 120, 0.5);
  }
  .tips-carousel.owl-carousel .owl-stage {
    padding-left: 0 !important;
  }
  .useful-links_carousel.owl-carousel .owl-stage {
    padding-left: 0 !important;
  }
  .footer__nav .nav__item {
    width: 100%;
  }
  .footer__bottom .copyright {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer__bottom .info {
    width: 100%;
    padding-left: 0;
    margin-bottom: 30px;
    padding-right: 114px;
  }
  .footer__bottom .warning {
    width: 100%;
    padding-right: 114px;
  }
  .footer {
    padding-bottom: 84px;
  }
  .page-blog .banner__title {
    padding-right: 0;
  }
  .on-tab {
    display: block !important;
  }
}

@media (max-width: 776px) {
  .header {
    top: 0;
    background: #0078D4;
    z-index: 5;
  }
  .header.inner .header__top,
  .header.inner .header__bottom {
    display: none;
  }
  .header.inner .header__middle {
    padding-top: 0;
    padding-bottom: 0;
    background: #0078D4;
  }
  .header.inner .header__nav {
    padding-right: 74px;
  }
  .header__nav {
    padding-right: 74px;
    text-align: right;
  }
  .header .mobile__btn {
    right: 0;
    top: 0;
    width: 74px;
    height: 100%;
  }
  .header__logo {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 55px;
  }
  .header__logo .name {
    height: 74px;
    display: none;
  }
  .header__logo .icon {
    width: 64px;
  }
  .header .mobile__btn .btn {
    vertical-align: middle;
    height: 100%;
    width: 74px;
    background: #2B88D8;
    border-radius: 0;
  }
  .intro .tab-form {
    padding-top: 30px;
  }
  .main_nav {
    position: absolute;
    left: -100%;
    top: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    display: block;
    min-height: 100vh;
    z-index: 0;
    width: 100%;
    background: #2b88d8;
    padding-top: 109px;
    z-index: 100;
    opacity: 0;
    -webkit-box-shadow: 0 3px 99px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 99px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
  }
  .main_nav .nav {
    margin-bottom: 30px;
    width: 216px;
  }
  .main_nav .nav .dropdown.open .nav-link {
    background: none;
  }
  .main_nav .nav .dropdown-menu .nav-link {
    color: #0078D4;
    padding: 3px 20px;
  }
  .main_nav .nav .nav-item {
    display: block;
    float: none;
    padding: 0;
    text-align: left;
    margin-bottom: 15px;
  }
  .main_nav .nav .nav-title {
    margin-bottom: 21px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -0.02em;
    line-height: 20px;
    color: #004578;
  }
  .main_nav .nav .nav-link {
    text-align: left;
    text-transform: initial;
    font-weight: normal;
  }
  .main_nav .nav .nav-link.register {
    border-radius: 0;
    border: 2px solid #FFB900;
    padding: 16px 25px;
    font-size: 14px;
    display: inline-block;
  }
  .main_nav .nav:last-of-type .nav-item {
    margin-bottom: 21px;
  }
  .main_nav.show {
    left: 0;
    z-index: 100;
    opacity: 1;
  }
  .vacancies__tab .tab-content .card {
    margin-right: 0;
  }
  .on-mobile {
    display: block !important;
  }
  .intro .statistic {
    display: none;
  }
  .vacancies__tab .tab-content {
    background: #DEECF9;
  }
  .intro {
    padding-top: 10px;
    padding-bottom: 30px;
    background: #0078D4;
    min-height: 403px;
  }
  .intro .tab-form .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .vacancies__tab .nav-tabs.nav-justified > li {
    display: none;
  }
  .vacancies__tab {
    top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .no-padding {
    padding: 0 !important;
  }
  .no-padding-left {
    padding-left: 0 !important;
  }
  .no-padding-right {
    padding-right: 0 !important;
  }
  .type-slider {
    padding-left: 0;
  }
  .main_nav .login-link {
    display: block;
  }
  .main_nav .js_close_main-nav {
    display: block;
  }
  .page-blog .blog-content,
  .page-blog .blog__link {
    padding-right: 0;
  }
  .page-blog .blog-content .video {
    margin-bottom: 0;
  }
  .page-blog .banner {
    padding-left: 52px;
    padding-right: 52px;
  }
  .list__vacancies__item .salary {
    float: none;
  }
  .list__vacancies__item .organization__logo {
    position: relative;
    -webkit-transform: none;
    transform: none;
    margin-left: 15px;
    margin-bottom: 7px;
  }
  .list__filters {
    position: fixed;
    z-index: 20;
    background-color: white;
    -webkit-box-shadow: 0 0px 99px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0px 99px rgba(0, 0, 0, 0.6);
    top: 72px;
    left: -120%;
    width: 100%;
    padding: 20px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .filter__header {
    position: fixed;
    top: 0;
    left: -120%;
    width: 100%;
    background-color: white;
    padding: 20px;
    z-index: 21;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .filter__header.open {
    left: 0;
  }
  .list__filters.open {
    left: 0;
  }
  .list__vacancies__item .date_view {
    float: none;
  }
  .list__content .filter_mobile_btn {
    display: inline-block;
  }
  .v-page .v-card .organization__logo {
    position: relative;
    -webkit-transform: none;
    transform: none;
    top: auto;
    right: auto;
    margin-bottom: 7px;
  }
  .v-page .simple-card {
    background-position: 50% 35px;
  }
  .v-page .simple-card .card-body {
    width: 100%;
    padding-right: 0;
    padding-top: 222px;
  }
  .v-page .card-links {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .v-page .similar_v {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding-bottom: 30px;
  }
  .simple-card {
    padding-top: 222px;
    background-position: 50% 35px;
  }
  .simple-card .card-body {
    width: 100%;
    padding-right: 0;
  }
  .register__title {
    display: block;
  }
  .simple-card.step-1,
  .simple-card.step-2 {
    margin-bottom: 40px;
  }
  .resume__make {
    background-color: #DEECF9;
  }
  .header.inner .header__nav.inner {
    display: block;
  }
  .header.inner .header__nav.inner .nav-link {
    display: none;
  }
  .header.inner .header__nav.inner .nav-link.rounded {
    display: inline-block;
  }
  .header.inner .header__nav.inner {
    float: right;
    margin-top: 13px;
    padding-right: 64px;
  }
  .header.inner .header__nav .nav {
    display: none;
  }
  .header.inner .header__nav .nav {
    display: none;
  }
  .header.inner .header__nav.inner .nav {
    display: block;
  }
  .header.inner .header__nav {
    margin-top: 0;
  }
  .header.inner .header__nav .nav.on-mobile {
    display: block;
    float: right;
  }
  .header.inner .header__nav .nav.on-mobile .nav-item {
    margin-right: 30px;
  }
  .header.inner .header__nav .nav.on-mobile .nav-item:last-child {
    margin-right: 0;
  }
  .header.inner .header__nav .nav.on-mobile .nav-link {
    display: table-cell;
    height: 72px;
    vertical-align: middle;
    text-transform: initial;
    font-weight: normal;
    padding-left: 39px;
  }
  .header.inner .header__nav .nav.on-mobile .nav-link span:first-child {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
  }
  .list__info .__header {
    margin-bottom: 20px;
  }
  .list__header .btn-find span.text {
    display: none;
  }
  .no-padding-right-mobile {
    padding-right: 0;
  }
  .no-padding-left-mobile {
    padding-left: 0;
  }
  .v-page .v-card {
    padding-right: 0;
  }
  .v-page .v-card .request span {
    margin-bottom: 10px;
    display: block;
  }
  .list__header .btn-find {
    position: relative;
  }
  .list__header .btn-find:focus {
    outline: none;
    border: none;
  }
  .list__header .btn-find svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 558px) {
  .section__title {
    text-align: left;
  }
  .vacancies__benefits {
    display: none;
  }
  .vacancies__tab .tab-content {
    padding: 40px 0;
  }
  .employers__card .employers__item {
    margin-right: 0;
  }
  .vacancies__latest {
    padding: 15px 11px 30px 11px;
  }
  .employers__card {
    padding: 15px 11px 30px 11px;
    margin-top: 0;
  }
  .employers__card:nth-child(2) {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #DEECF9;
  }
  .employers__card:nth-child(2) .useful-links__item {
    background: white;
  }
  .tips__title {
    padding-right: 55px;
  }
  .vacancies__latest .vacancy__info {
    margin-right: 0;
  }
  .list__vacancies__item .date_view {
    float: none;
  }
  .v-page .simple-card .card-body {
    width: 100%;
    padding-right: 0;
  }
  .resume-info .block .nav-pills li {
    float: none;
  }
  .resume-info .block .simple-card {
    padding: 15px;
  }
  .resume-info .block .simple-card .__title {
    padding-right: 0;
  }
  .resume-info .block .simple-card .__desc {
    padding-right: 130px;
  }
  .resume-info .block .simple-card .interest {
    right: 15px;
  }
  .pagination li {
    margin-right: 0;
  }
  .intro .statistic {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background: #0078D4 url("/img/image/intro_bg.png") no-repeat 50% 0/cover;
    width: 100%;
    height: 100%;
    z-index: 20;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .intro .statistic.hiden {
    top: -100%;
  }
  .intro .statistic .item {
    padding: 18px 35px;
    text-align: center;
  }
  .intro .statistic .item .icon {
    display: block;
    margin: 0 auto;
  }
  .intro .statistic__logo {
    display: inline-block;
    margin: 65px auto;
  }
  .intro .statistic .swipe__btn {
    margin-top: 150px;
    display: inline-block;
  }
  .statistic-el-row {
    margin-top: 150px;
  }
  .intro .statistic .item .info {
    display: inline-block;
  }
}

@media (max-width: 376px) {
  .header.inner .header__nav .nav.on-mobile .nav-item {
    float: none;
  }
  .header.inner .header__nav {
    margin-top: 6px;
  }
  .header.inner .header__nav .nav.on-mobile .nav-link {
    height: auto;
  }
} */
/*# sourceMappingURL=media.css.map */


@media (min-width: 1921px) {
  .header__nav .nav-link {
    padding: 16px 28px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1246px;
  }
  .container.bigger {
    width: 1326px;
  }
}

@media (min-width: 991px) {
  .no-desktop {
    display: none !important;
  }
}

@media (max-width: 1346px) {
  .header__middle .mobile__button {
    right: 100%;
  }
  .header__middle .spec-view__button {
    left: 100%;
  }
  .header__middle .navbar .logo {
    float: none;
    margin: 0 auto;
  }
  .header__middle .navbar .nav {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .header__top .container {
    text-align: right;
  }
  .header__checkbox,
  .header__quick-nav {
    float: none;
  }
  .header__quick-nav {
    display: inline-block;
  }
  .header__bottom {
    padding-top: 0;
  }
  .no-tab {
    display: none !important;
  }
  .no-desktop {
    display: none !important;
  }
  .header.inner .header__nav .nav li:not(.rounded, .mobile_button) {
    display: none;
  }
  .header.inner .header__nav .nav li.rounded {
    display: table-cell;
  }
  .header__nav .nav {
    height: auto;
    display: inline-block;
  }
  .v-page .row-right-divider::before {
    width: 100%;
    height: 1px;
    top: auto;
    bottom: -20px;
  }
  .page-blog .row-right-divider::before {
    width: 100%;
    height: 1px;
    top: auto;
    bottom: -20px;
  }
  .v-page .simple-card {
    max-width: 100%;
  }
  .v-page .card-links,
  .v-page .similar_v {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .header__logo {
    width: auto;
  }
  .header__logo .text {
    display: none;
  }
  .header__nav .nav li {
    padding-right: 20px;
  }
  .header__middle .navbar .nav {
    display: block;
    float: none;
    text-align: left;
    height: 0;
    position: relative;
    opacity: 0;
    top: -100%;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .header__middle .navbar .nav.show {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    position: relative;
    height: 100%;
    opacity: 1;
    z-index: 1;
  }
  .header__middle .navbar .nav-item {
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
  }
  .header__middle .mobile__button {
    right: auto;
    left: 0;
  }
  .header__middle .spec-view__button {
    left: auto;
    right: 0;
  }
  .vacancies__tab .tab-content .owl-item {
    width: 176px !important;
  }
  .no-mobile {
    display: none !important;
  }
  .tips__title {
    margin-top: 95px;
    margin-bottom: 21px;
    padding-right: 100px;
  }
  .tips__subtitle {
    padding-right: 35%;
  }
  .tips-carousel .item {
    background: rgba(0, 69, 120, 0.5);
  }
  .tips-carousel.owl-carousel .owl-stage {
    padding-left: 0 !important;
  }
  .useful-links_carousel.owl-carousel .owl-stage {
    padding-left: 0 !important;
  }
  .footer__nav .nav__item {
    width: 100%;
  }
  .footer__bottom .copyright {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer__bottom .info {
    width: 100%;
    padding-left: 0;
    margin-bottom: 30px;
    padding-right: 114px;
  }
  .footer__bottom .warning {
    width: 100%;
    padding-right: 114px;
  }
  .footer {
    padding-bottom: 84px;
  }
  .page-blog .banner__title {
    padding-right: 0;
  }
  .on-tab {
    display: block !important;
  }
  .intro .mobile__tab {
    display: block;
  }
}

@media (max-width: 776px) {
  .header__nav .nav {
    display: block;
  }
  .header {
    top: 0;
    background: #0078D4;
    z-index: 5;
  }
  .vacancies__tab .search__form .input_setting-btn {
    right: 90px;
  }
  .vacancies__tab .search__form .input__btn .btn .text {
    display: none;
  }
  .header__top {
    display: none;
  }
  .header__nav .nav li {
    padding-left: 20px;
  }
  .header__middle {
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.56);
  }
  .header__nav {
    padding-right: 0;
  }
  .header__nav .nav li:not(.mobile_button) {
    display: none;
  }
  .header__logo .text {
    display: none;
  }
  .header.inner .header__top,
  .header.inner .header__bottom {
    display: none;
  }
  .header.inner .header__middle {
    padding-top: 0;
    padding-bottom: 0;
    background: #0078D4;
  }
  .header.inner .header__nav {
    padding-right: 74px;
  }
  .header .mobile__btn {
    right: 0;
    top: 0;
    width: 74px;
    height: 100%;
  }
  .header__logo {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 55px;
  }
  .header__logo .name {
    height: 74px;
    display: none;
  }
  .header__logo .icon {
    width: 64px;
  }
  .header .mobile__btn .btn {
    vertical-align: middle;
    height: 60px;
    width: 60px;
    margin-top: 33px;
    margin-left: 17px;
    background: #2B88D8;
    border-radius: 0;
  }
  .header__nav.inner .nav .nav-item.active::before {
    content: '';
  }
  .intro .tab-form {
    padding-top: 30px;
  }
  .main_nav {
    position: absolute;
    left: -100%;
    top: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    display: block;
    min-height: 100vh;
    z-index: 0;
    width: 100%;
    background: #2b88d8;
    padding-top: 109px;
    z-index: 100;
    opacity: 0;
    -webkit-box-shadow: 0 3px 99px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 99px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(32px);
            backdrop-filter: blur(32px);
  }
  .main_nav .nav {
    margin-bottom: 30px;
    width: 216px;
  }
  .main_nav .nav .dropdown.open .nav-link {
    background: none;
  }
  .main_nav .nav .dropdown-menu .nav-link {
    color: #0078D4;
    padding: 3px 20px;
  }
  .main_nav .nav .nav-item {
    display: block;
    float: none;
    padding: 0;
    text-align: left;
    margin-bottom: 15px;
  }
  .main_nav .nav .nav-title {
    margin-bottom: 21px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -0.02em;
    line-height: 20px;
    color: #004578;
  }
  .main_nav .nav .nav-link {
    text-align: left;
    text-transform: initial;
    font-weight: normal;
  }
  .main_nav .nav .nav-link.register {
    border-radius: 0;
    border: 2px solid #FFB900;
    padding: 16px 25px;
    font-size: 14px;
    display: inline-block;
  }
  .main_nav .nav:last-of-type .nav-item {
    margin-bottom: 21px;
  }
  .main_nav.show {
    left: 0;
    z-index: 100;
    opacity: 1;
  }
  .vacancies__tab .tab-content .card {
    margin-right: 0;
  }
  .on-mobile {
    display: block !important;
  }
  .intro .statistic {
    display: none;
  }
  .vacancies__tab .tab-content {
    background: #DEECF9;
  }
  .intro {
    /* padding-top: 104px; */
    padding-bottom: 7px;
    background: #0078D4;
    min-height: 125px;
  }
  .intro .tab-form .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .vacancies__tab .nav-tabs.nav-justified > li {
    display: none;
  }
  .vacancies__tab {
    top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .no-padding {
    padding: 0 !important;
  }
  .no-padding-left {
    padding-left: 0 !important;
  }
  .no-padding-right {
    padding-right: 0 !important;
  }
  .type-slider {
    padding-left: 0;
  }
  .main_nav .login-link {
    display: block;
  }
  .main_nav .js_close_main-nav {
    display: block;
  }
  .page-blog .blog-content,
  .page-blog .blog__link {
    padding-right: 0;
  }
  .page-blog .blog-content .video {
    margin-bottom: 0;
  }
  .page-blog .banner {
    padding-left: 52px;
    padding-right: 52px;
  }
  .list__vacancies__item .salary {
    float: none;
  }
  .list__vacancies__item .organization__logo {
    position: relative;
    -webkit-transform: none;
            transform: none;
    margin-left: 15px;
    margin-bottom: 7px;
  }
  .list__filters {
    position: fixed;
    z-index: 20;
    background-color: white;
    -webkit-box-shadow: 0 0px 99px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0px 99px rgba(0, 0, 0, 0.6);
    top: 72px;
    left: -120%;
    width: 100%;
    padding: 20px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .filter__header {
    position: fixed;
    top: 0;
    left: -120%;
    width: 100%;
    background-color: white;
    padding: 20px;
    z-index: 21;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .filter__header.open {
    left: 0;
  }
  .list__filters.open {
    left: 0;
  }
  .list__vacancies__item .date_view {
    float: none;
  }
  .list__content .filter_mobile_btn {
    display: inline-block;
  }
  .v-page .v-card .organization__logo {
    position: relative;
    -webkit-transform: none;
            transform: none;
    top: auto;
    right: auto;
    margin-bottom: 7px;
  }
  .v-page .simple-card {
    background-position: 50% 35px;
  }
  .v-page .simple-card .card-body {
    width: 100%;
    padding-right: 0;
    padding-top: 222px;
  }
  .v-page .card-links {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .v-page .similar_v {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-bottom: 30px;
  }
  .simple-card {
    padding-top: 222px;
    background-position: 50% 35px;
  }
  .simple-card .card-body {
    width: 100%;
    padding-right: 0;
  }
  .register__title {
    display: block;
  }
  .simple-card.step-1,
  .simple-card.step-2 {
    margin-bottom: 40px;
  }
  .resume__make {
    background-color: #DEECF9;
  }
  .header.inner .header__nav.inner {
    display: block;
  }
  .header.inner .header__nav.inner .nav-link {
    display: none;
  }
  .header.inner .header__nav.inner .nav-link.rounded {
    display: inline-block;
  }
  .header.inner .header__nav.inner {
    float: right;
    margin-top: 13px;
    padding-right: 64px;
  }
  .header.inner .header__nav {
    padding: 0;
  }
  .header.inner .header__nav.inner .nav {
    display: block;
  }
  .header.inner .header__nav {
    margin-top: 0;
  }
  .header.inner .header__nav .nav.on-mobile {
    display: block;
    float: right;
  }
  .header.inner .header__nav .nav.on-mobile .nav-item {
    margin-right: 30px;
  }
  .header.inner .header__nav .nav.on-mobile .nav-item:last-child {
    margin-right: 0;
  }
  .header.inner .header__nav .nav.on-mobile .nav-link {
    display: table-cell;
    height: 72px;
    vertical-align: middle;
    text-transform: initial;
    font-weight: normal;
    padding-left: 39px;
  }
  .header.inner .header__nav .nav.on-mobile .nav-link span:first-child {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  .list__info .__header {
    margin-bottom: 20px;
  }
  .list__header .btn-find span.text {
    display: none;
  }
  .no-padding-right-mobile {
    padding-right: 0;
  }
  .no-padding-left-mobile {
    padding-left: 0;
  }
  .v-page .v-card {
    padding-right: 0;
  }
  .v-page .v-card .request span {
    margin-bottom: 10px;
    display: block;
  }
  .list__header .btn-find {
    position: relative;
  }
  .list__header .btn-find:focus {
    outline: none;
    border: none;
  }
  .list__header .btn-find svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .new_class {
    display: none;
  }
}

@media (max-width: 558px) {
  .section__title {
    text-align: left;
  }
  .vacancies__benefits {
    display: none;
  }
  .vacancies__tab .tab-content {
    padding: 40px 0;
  }
  .employers__card .employers__item {
    margin-right: 0;
  }
  .vacancies__latest {
    padding: 15px 11px 30px 11px;
  }
  .employers__card {
    padding: 15px 11px 30px 11px;
    margin-top: 0;
  }
  .employers__card:nth-child(2) {
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #DEECF9;
  }
  .employers__card:nth-child(2) .useful-links__item {
    background: white;
  }
  .tips__title {
    padding-right: 55px;
  }
  .vacancies__latest .vacancy__info {
    margin-right: 0;
  }
  .list__vacancies__item .date_view {
    float: none;
  }
  .v-page .simple-card .card-body {
    width: 100%;
    padding-right: 0;
  }
  .resume-info .block .nav-pills li {
    float: none;
  }
  .resume-info .block .simple-card {
    padding: 15px;
  }
  .resume-info .block .simple-card .__title {
    padding-right: 0;
  }
  .resume-info .block .simple-card .__desc {
    padding-right: 130px;
  }
  .resume-info .block .simple-card .interest {
    right: 15px;
  }
  .pagination li {
    margin-right: 0;
  }
  .intro .statistic {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background: #0078D4 url("/img/image/intro_bg.png") no-repeat 50% 0/cover;
    width: 100%;
    height: 100%;
    z-index: 20;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .intro .statistic.hiden {
    top: -100%;
  }
  .intro .statistic .item {
    padding: 18px 35px;
    text-align: center;
  }
  .intro .statistic .item .icon {
    display: block;
    margin: 0 auto;
  }
  .intro .statistic__logo {
    display: block;
    margin: 30px auto 64px auto;
  }
  .intro .statistic .swipe__btn {
    display: inline-block;
  }
  .intro .statistic .item .info {
    display: inline-block;
  }
  .new_class {
    display: none;
  }
  .responsive_logo {
    display: block;
  }
  .header__nav .nav-link  {
    margin: 0 15px;
  }
  .vacancies__tab {
    /* box-shadow: 0 3px 99px rgb(0 0 0 / 10%); */
    background-color: white;
    padding: 0px;
    margin: 50px 0;
    border-radius: 15px;
    
  }
  .search__form .input__btn .btn {
    display: block;
    width: 100%;
    background: #0078D4;
    color: white;
    height: 100%;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    box-shadow: inset 0 3px 8px rgb(0 0 0 / 30%);
    border: none;
    padding-left: 37px;
    padding-right: 38px;
    background-image: url("/img/image/search.svg");
    background-repeat: no-repeat;
    background-position: 30px 50%;
  }
  .search__form .input__field .form-control {
    height: 100%;
    border-radius: 11px;
    border: 1px solid #71AFE5;
    background: white;
    box-shadow: inset 0 3px 8px rgb(0 0 0 / 30%);
    padding: 13px 20px;
    padding-right: 130px;
  }
}

@media (max-width: 376px) {
  .header.inner .header__nav .nav.on-mobile .nav-item {
    float: none;
  }
  .header.inner .header__nav {
    margin-top: 6px;
  }
  .header.inner .header__nav .nav.on-mobile .nav-link {
    height: auto;
  }
  .new_class {
    display: none;
  }
}
/*# sourceMappingURL=media.css.map */